name: Lint C++ code

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: none

jobs:
  lint:
    name: clang-format (${{ matrix.path }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        path:
          - src
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            ghcr.io:443
            github.com:443
            pkg-containers.githubusercontent.com:443

      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: clang-format Check
        uses: jidicula/clang-format-action@4726374d1aa3c6aecf132e5197e498979588ebc8 # v4.15.0
        with:
          clang-format-version: 18
          check-path: ${{ matrix.path }}
